body {
    background-color: #fffbf7;
    }
main
    {
      margin-top: 300px;
      text-align: center;
    }
h1 
    {
      color: #0E5157;
      padding: 10px;  
      font-size: 60px;
      margin-bottom: 24px;
    }
input
  {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
  }
input, button
  {
    height: 100%;
    border-radius: 8px;
  }
button, input 
  {
    overflow: visible;

  }
h4  
    {
      color: #46484c;
      font-family: "Slabo 27px", serif;
      font-size: 20px;
      margin-bottom: 30px;    }
.header 
    { 
      height: 45px;
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 0;
    }

.header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
    }
li 
    {
      display: inline;
    }
  
.logo {
      width: 15%;
      display: inline-block;
    }
  
.logo > img {
      height: 100%;
    }
.navbar 
    {
      width: 70%;
      text-align: center;
      color: #025157;
      font-weight: 500;
    }
.navbar > *
    {
      font-family: sans-serif;
    }
li
    {
      padding-right: 25px;  
    }
.header-form
    {
        height: 55px;
    }
form .actions 
    {
      margin-left: 10px;
      margin-right: 10px;
      text-align: right;
      font-weight: 600;
      font-size: 14px;
    }
.actions
   {
      width: 15%;
      text-align: right;
      font-size: 14px;
      font-weight: 600;
    }
.sign
    {
      padding-right: 10px;
    }
button
  {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
  }
.form-button
  {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1030;
  }
.blog
  {
    color: #343434;
  }
p 
  {
    color: #A5A4A3;
  }
form 
  {
    height: 55px;
  }
.publish
  {
    flex: 1;
  }
.publish h3 
  {
    font-style: bold ;
    font-size: 40px;
    line-height: 48px;
    color: #0E5157;
    padding-bottom: 50px;
  }

.publish > p 
  {
    font-size: 16px;
    color: #343434 ;
    line-height: 1.5;
    margin-bottom: 20px;
  }

.publish > form 
  {
    display: inline-flexbox;
  }

.publish > form p 
  {
    color: #A5A4A3;
    margin-right: 18px;
  }
.explanatory-video 
    {
      display: inline-flexbox;
      flex: auto ;
      align-items: center;
      flex: 1;
    }
    
 .explanatory-video img 
    {
      width: 120px;
      margin-top: 10px;
      padding-left: 150px;
    }