body {
    background-color: #fffbf7;
    }
main
    {
      margin-top: 285px;
      text-align: center;
    }
h1 
    {
      color: #8b8b8bcc;
      font-weight: bold;
      padding: 10px;  
    }
  
h3 
    {
      color: #46484c;
    }
.header 
    { 
      height: 45px;
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 0;
    }

.header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
    }
li 
    {
      display: inline;
    }
  
.logo {
      width: 15%;
      display: inline-block;
    }
  
.logo > img {
      height: 100%;
    }
.navbar 
    {
      width: 70%;
      text-align: center;
      color: #025157;
      font-weight: 500;
    }
.navbar > *
    {
      font-family: sans-serif;
    }
li
    {
      padding-right: 25px;  
    }
.header-form
    {
        height: 55px;
    }
form .actions
    {
      margin-left: 10px;
      margin-right: 10px;
      text-align: right;
      font-weight: 600;
      font-size: 14px;
    }
.actions
   {
      width: 15%;
      text-align: right;
      font-size: 14px;
      font-weight: 600;
    }
.sign
    {
      padding-right: 10px;
    }
.arrow
  {
    background-color: #0E5157;
    color: #fff;
  }
.form-button
  {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }
.features {
    display: grid;
    background-color: springgreen;
    height: 660px;
    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
    padding: 5% 10%;
  }
  
.feature-card
    {
      background-color: violet;
    }
    main {
      margin-top: 285px;
      text-align: center;
    }